{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} {% trans 'Keywords' %} {% endblock %}

{% block head %}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <script src="{% static 'js/search.js' %}"></script>
{% endblock head %}

{% block heading %}
    <h2>{% trans 'New Tags identified:' %} {{listtagnew.count}} </h2>
    <p><i>{% trans "New tags are identified by searching words in all transactions name stored in database. To edit tags, plesae click" %} <a href="{% url 'tag_edit' pk=Null %}"> <u>here</u> </a></i></p>
{% endblock heading %}


{% block content %}
    <div class="list-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>

                    <th>New Tag ?</th>
                    <th>Used as Tag ?</th>
                    <th>Category</th>

                </tr>
            </thead>
            <tbody>
                {%if not listtagnew %}
                    <tr>
                        <td>No new Tag</td>
                    </tr>
                {% else %}
                    {% for tag in listtagnew %}
                        <tr>
                            <td>
                                <div>
                                    <label>{{tag.tag}}</label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    {% if tag.is_new_tag == True %}
                                        <label><span class="glyphicon glyphicon-ok"></span></label>
                                        <!-- <label> <input type="checkbox" id="is_new_checkbox" value="" aria-label="..." checked></label> -->
                                    {% else %}
                                        <label><span class="glyphicon glyphicon-star-remove"></span></label>
                                        <!-- <label> <input type="checkbox" id="is_new_checkbox" value="" aria-label="..." ></label> -->
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div>
                                    {% if tag.will_be_used_as_tag == True %}
                                        <label><span class="glyphicon glyphicon-ok"></span></label>
                                        <!-- <label> <input type="checkbox" id="will_be_used_checkbox" value="" aria-label="..." checked></label> -->
                                    {% else %}
                                        <label><span class="glyphicon glyphicon-star-remove"></span></label>
                                        <!-- <label> <input type="checkbox" id="will_be_used_checkbox" value="" aria-label="..." ></label> -->
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div>
                                    {% if tag.category.name != None %}
                                        {{tag.category.name}}
                                    {% else %}
                                        No associated category
                                    {% endif %}
                                </div>
                                <!-- <select class="selectpicker" data-show-subtext="true" data-live-search="true""> -->
<!--
                                <select class="form-control">
                                    {% for category in list_of_categories %}
                                        {% if category.name == tag.category.name %}
                                            <option selected>{{category.name}}</option>
                                        {% else %}
                                            <option>{{category.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
-->
                            </td>

                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock content %}