{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Tags and Categories' %}
{% endblock %}


{% block heading %}
    <h2>{% trans 'Categories with tags' %} </h2>
    <p><i>Lists transactions by categories</i>  </p>
{% endblock heading %}


{% block content %}
	{% comment %}
    {% for category in categories_list %}
    <br><h2>{{category}}</h2><br>

            <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <!-- <th>Currency</th>
                    <th>N° Account</th> -->
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    {% if transaction.category_of_transaction.name == category.name %}
                    <tr>
                        <td>{{ transaction.date_of_transaction|date:" Y/m/d" }}</td>
                        <td>{{ transaction.type_of_transaction }}</td>
                        <td><a href="/transaction_detail/{{transaction.id}}/"> {{ transaction.name_of_transaction }} </a> </td>
                        {% if transaction.amount_of_transaction >= 0 %}
                            <td class="font-blue"> {{ transaction.amount_of_transaction | rjust:"10" }} </td>
                        {% else %}
                            <td class="font-red"> {{ transaction.amount_of_transaction | rjust:"10" }} </td>
                        {% endif %}
                        <!-- <td>{{ transaction.currency_of_transaction }}</td>
                        <td>{{ transaction.account.num_of_account }}</td> -->
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

    {% endfor %}
	{% endcomment %}

    {% for category in categories_list %}
    <br><h2>{{category}}</h2><br>
    	    <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <!-- <th>Currency</th>
                    <th>N° Account</th> -->
                </tr>
            </thead>
            <tbody>
                {% for transaction in getTransactionsCatevory(transactions.category.id:category.id) %}
                    {% omment %}{% if transaction.category_of_transaction.name == category.name %} {% endcomment %}
                    <tr>
                        <td>{{ transaction.date_of_transaction|date:" Y/m/d" }}</td>
                        <td>{{ transaction.type_of_transaction }}</td>
                        <td><a href="/transaction_detail/{{transaction.id}}/"> {{ transaction.name_of_transaction }} </a> </td>
                        {% if transaction.amount_of_transaction >= 0 %}
                            <td class="font-blue"> {{ transaction.amount_of_transaction | rjust:"10" }} </td>
                        {% else %}
                            <td class="font-red"> {{ transaction.amount_of_transaction | rjust:"10" }} </td>
                        {% endif %}
                        <!-- <td>{{ transaction.currency_of_transaction }}</td>
                        <td>{{ transaction.account.num_of_account }}</td> -->
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

    {% endfor %}

{% endblock %}


{% block sidebar %}
    <div class="row">
        <div class="list-group">
            <a class="list-group-item active" href="#"> Categories</a>
            {% for category in categories_list %}
                <a class="list-group-item" href="#}"> {{category.name}}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


