{% extends 'base.html' %}
{% load mptt_tags %}

{% block head_title %}  {% endblock %}

{% block content %}

<ul class="breadcrumb">
    {% for i in ancestors %}
        <li><a href="{% url 'show_category2' node=i.name %}"> {{ i.name }} </a></li>
    {% endfor %}

</ul>


{% if  children %}
<h4>Sub Categories of category: {% for c in current %} <b>{{c.name}}</b> <i>[ {{c.amount}} Euros ]</i> {% endfor %} </h4>
    {% for i in children %}
        {% if i.is_leaf_node %}
            {{ i.name }} {{i.amount}}<br>
        {% else %}
            <a href="{{ i.name }}"> {{ i.name }} {{i.amount}} </a> <br>
        {% endif %}
    {% endfor %}

    <br><hr>
{% endif %}

<div class="text-center"><h2>{{ancestors.name}}</h2></div>


{% endblock %}

{% block sidebar %}
    <ul>
    {% recursetree cats %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% endblock sidebar %}