{% extends "base.html" %}

{% block title %}Transactions du compte : {{ transactions.account.name_of_account }}{% endblock %}

{% block heading %}
    <h2>Transactions du compte: {{ transactions.account.name_of_account }}</h2>
{% endblock %}

{% block content %}
    <div class="list-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>N° Account</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date_of_transaction|date:" Y/m/d" }}</td>
                        <td>{{ transaction.type_of_transaction }}</td>
                        <td>{{ transaction.name_of_transaction }}</td>
                        <td>{{ transaction.amount_of_transaction | rjust:"10" }}</td>
                        <td>{{ transaction.currency_of_transaction }}</td>
                        <td>{{ transaction.account.num_of_account }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="row">
        {% for bank in banks %}
            <div class="list-group">
                <a class="list-group-item active" href="#"> {{bank}} </a>
                {% for account in accounts %}
                    {% if account.bank = bank %}
                        <a class="list-group-item" href={% url 'transactions_list' %}>{{account}} <br> {{account.num_of_account}}</a>
                        <a class="list-group-item" href="#">Test autre compte (PEL) <br> 0123456789 </a>

                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="list-group">
                <a class="list-group-item active" href="#"> Budget (Changer couleur) </a>
                <a class="list-group-item" href="#">Mettre autre boîte ici</a>
        </div>
    </div>
{% endblock %}


